# Environnement virtuel
.venv/
venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# Python
__pycache__/
*.pyc
*.pyo

# Data
data/raw/
data/raw/images/
!data/raw.dvc
data/localstore/

# Divers
.pytest_cache/
*.egg-info/
/best_model_resnet18_finetuned.pth
